<div class="card-columns my-4">
    {{model.searchTerm}}
    <div class="card" ng-repeat="track in model.tracks">
        <img class="card-img-top card-img-cus" src="{{model.getImage(track)}}"
             alt="{{track.name}}">
        <div class="card-block">
            <h4 class="card-title">{{track.name}}</h4>
            <p class="card-text">Artist: <a href="{{track.artist.url}}" target="_blank"> {{track.artist.name}} </a></p>
            <a ng-show="{{track.streamable.fulltrack}}" href="{{track.streamable['#text']}}" class="btn btn-primary">Play</a>
            <a ng-hide="{{track.streamable.fulltrack}}" href="{{track.url}}" target="_blank" class="btn btn-primary">Get</a>
            <a href="#" class="btn btn-primary float-right">View</a>
        </div>
    </div>
</div>