<img ng-show="model.tracks.length==0" src="../../images/loading.png"
         class="img-fluid col-centered my-4">


<div class="card-columns my-4" ng-show="model.tracks.length!=0">
    <!--{{model.searchTerm}}-->
    <div class="card black" ng-repeat="track in model.tracks" ng-if="track.mbid!=''">
        <a href="#/track/{{track.mbid}}">
            <img class="card-img-top card-img-cus" src="{{model.getImage(track)}}"
             alt="{{track.name}}">
        </a>
        <div class="card-block">
            <h5 class="card-title gray-text">{{track.name}}</h5>
            <p class="card-text">
                <a ng-click="model.viewArtist(track)"
                   class="text-primary"
                   role="button">
                    {{track.artist.name}} </a></p>
            <!--<p class="card-text"><a href="{{track.artist.url}}" target="_blank"> {{track.artist.name}} </a></p>-->
            <a ng-show="{{track.streamable.fulltrack}}" href="{{track.streamable['#text']}}" class="btn btn-primary">Play</a>
            <!--<a ng-hide="{{track.streamable.fulltrack}}" href="{{track.url}}" target="_blank" class="btn btn-primary">Get</a>-->
            <!--<a href="#/track/{{track.mbid}}" class="btn btn-primary mb-2 float-right">View</a>-->
        </div>
    </div>
</div>