<img ng-show="!model.artists" src="../../uploads/loading.gif" class="img-fluid">

<div ng-show="model.artists">
<div class="row my-4">
    <div class="card mr-2" ng-repeat="artist in model.artists" ng-if="!artist.external">
        <a href="#/artist/{{artist._id}}">
            <img class="card-img-top img-fit" src="{{artist.photo||'/uploads/default-profile.png'}}"
             alt="{{artist.screenName}}">
        </a>
        <div class="card-block">
            <h4 class="card-title">{{artist.screenName}}</h4>
            <p class="card-text">{{artist.firstName+" "+artist.lastName}}</p>
            <a href="#/artist/{{artist._id}}"
               class="btn btn-primary mb-2 float-right">View Tracks</a>
        </div>
    </div>
</div>

<div class="alert alert-success" role="alert">
    External Artists
</div>

<div class="row my-4">
    <div class="card mr-2 mb-2" ng-repeat="artist in model.artists" ng-if="artist.external">
        <a href="#/artist/{{artist._id}}">
            <img class="card-img-top img-fit" src="{{artist.photo||'/uploads/default-profile.png'}}"
                 alt="{{artist.screenName}}">
        </a>
        <div class="card-block">
            <h4 class="card-title">{{artist.screenName}}</h4>
            <p class="card-text">{{artist.firstName+" "+artist.lastName}}</p>
            <a href="#/artist/{{artist._id}}"
               class="btn btn-primary mb-2 float-right">View Tracks</a>
        </div>
    </div>
</div>
</div>