<div class="alert alert-success" role="alert" ng-if="model.artist">
    <a href="#/track/new">Add new tracks</a>
</div>

<img ng-show="model.loading" src="../../images/loading.png"
     class="img-fluid col-centered my-4">

<div class="alert alert-success" role="alert" ng-show="!model.loading && model.tracks.length==0">
    No tracks yet.
</div>

<div class="row my-4" ng-show="model.tracks.length!=0">
    <div class="card black img-fit mr-4 my-2" ng-repeat="track in model.tracks" ng-if="track._id!=''">
        <a href="#/track/{{track._id}}">
            <img class="card-img-top img-fit"
                 src="{{track.image}}"
             alt="{{track.title}}">
        </a>
        <div class="card-block">
            <h4 class="card-title gray-text">{{track.title}}</h4>
            <p class="card-text text-white">{{track.artist.screenName}}</p>
            <!--<a href="{{track.url}}"
               class="btn btn-primary mr-2">Play</a>-->
            <!--<a href="#/track/{{track.mbid?track.mbid:track._id}}" class="btn btn-primary mb-2 float-right">View</a>-->
        </div>
    </div>
</div>