<div>
    <div class="card-columns my-5">
        <div class="card">
            <img class="card-img-top img-fluid" src="https://lastfm-img2.akamaized.net/i/u/174s/c85ce7042b4b4327abb0e3111a100f2c.png"
                 alt="Card image cap">
            <div class="card-block">
                <h4 class="card-title">Party</h4>
                <p class="card-text">Rock, Pop, Hip hop</p>
                <a href="#" class="btn btn-primary">Browse</a>
            </div>
        </div>

        <div class="card">
            <img class="card-img-top img-fluid" src="https://lastfm-img2.akamaized.net/i/u/174s/c85ce7042b4b4327abb0e3111a100f2c.png"
                 alt="Card image cap">
            <div class="card-block">
                <h4 class="card-title">Card title that wraps to a new line</h4>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <a href="#" class="btn btn-primary">Browse</a>
            </div>
        </div>

        <div class="card">
            <img class="card-img-top img-fluid" src="https://lastfm-img2.akamaized.net/i/u/174s/c85ce7042b4b4327abb0e3111a100f2c.png"
                 alt="Card image cap">
            <div class="card-block">
                <h4 class="card-title">Card title that wraps to a new line</h4>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <a href="#" class="btn btn-primary">Browse</a>
            </div>
        </div>
    </div>
</div>