<nav class="navbar navbar-toggleable-md navbar-default navbar-inverse">
    <!--Menu on the navbar-->
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!--Menu in the body-->
    <button class="navbar-toggler navbar-toggler-left" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">MyMusic</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Playlists</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control my-2 mr-sm-2" type="text" placeholder="Search">
            <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

<div class="row container-fluid">
<div class="col-sm-2 neg-left-margin">
    <nav class="navbar navbar-toggleable-md navbar-default navbar-inverse sidebar">
        <!--<a class="navbar-brand" href="#">MyMusic</a>-->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav d-block">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="#">Playlists</a>
                </li>
               <!-- <li class="nav-item d-block">
                    <a class="nav-link" href="#">Pricing</a>
                </li>
                <li class="nav-item d-block">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li>-->
            </ul>
        </div>
    </nav>
</div>

    <div class="col-sm-10">
        <div class="form-group row hidden-lg-up">
            <div class="col-8">
                <input class="form-control my-2" type="text" placeholder="Search" id="searchText">
            </div>
            <button class="btn btn-primary col-2 my-2" type="submit">Search</button>
        </div>

        <div class="card-group">
        <div class="card card-home my-4">
            <img class="card-img-top" src="https://lastfm-img2.akamaized.net/i/u/174s/c85ce7042b4b4327abb0e3111a100f2c.png"
                 alt="Card image cap">
            <div class="card-block">
                <h4 class="card-title">Party</h4>
                <p class="card-text">Rock, Pop, Disco, Rock and Roll</p>
                <a href="#" class="btn btn-primary">Browse</a>
            </div>
        </div>

        <div class="card card-home my-4">
            <img class="card-img-top" src="https://lastfm-img2.akamaized.net/i/u/174s/c85ce7042b4b4327abb0e3111a100f2c.png"
                 alt="Card image cap">
            <div class="card-block">
                <h4 class="card-title">Party</h4>
                <p class="card-text">Rock, Pop, Disco, Rock and Roll</p>
                <a href="#" class="btn btn-primary">Browse</a>
            </div>
        </div>
            <div class="card card-home my-4">
                <img class="card-img-top" src="https://lastfm-img2.akamaized.net/i/u/174s/c85ce7042b4b4327abb0e3111a100f2c.png"
                     alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title">Party</h4>
                    <p class="card-text">Rock, Pop, Disco, Rock and Roll</p>
                    <a href="#" class="btn btn-primary">Browse</a>
                </div>
            </div>
        </div>
    </div>
</div>