<nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
    <div class="container-fluid">
        <a class="top-15 pull-left r-15 navbar-link vsk-ngclick-a">
            <span class="glyphicon glyphicon-align-justify"></span>
        </a>
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-123">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">MyMusic</a>
        </div>
        <a class="navbar-link pull-right top-15" href="#"><span class="fa fa-user-circle"></span></a>
        <div class="collapse navbar-collapse navbar-right" id="navbar-collapse-123">
            <ul class="nav navbar-nav">
                <li class="navbar-link active"><a href="#">Home</a></li>
                <li class="navbar-link"><a href="#">Link</a></li>

            </ul>
        </div>

    </div>
</nav>

<div class="row row-margin container-fluid">
<div class="col-xs-2 no-padding">
    <nav class="navbar navbar-sidebar sidebar" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <li class="navbar-link active"><a href="#">Home</a></li><br>
                <li class="navbar-link"><a href="#">Playlists</a></li>
            </ul>

        </div><!-- /.navbar-collapse -->
    </nav>
</div>

    <div class="col-xs-10 top-15 col-centered">
        <form class="form-horizontal">
            <div class="col-sm-10">
            <input class="form-control" type="text" placeholder="Search">
            </div>
            <button class="btn btn-primary col-sm-2 pull-right" type="submit">Search</button>
        </form>
    </div>

</div>