<div class="my-4 col-lg-8 mx-auto">

    <div ng-show="model.success" class="alert alert-success">{{model.success}}</div>
    <div ng-show="model.error" class="alert alert-danger">{{model.error}}</div>

    <div class="card-block">
        <div ng-show="model.messages.length==0" class="alert alert-success">
            You don't have any messages</div>

        <div class="list-group col-10 mx-auto" ng-show="model.messages.length!=0">
            <div class="list-group-item active">
            <a class="col-4 mr-auto">
                Track
            </a>
            <a class="col-4 mx-auto">
                Shared by
            </a>
                <a class="ml-auto float-right">
                    Date
                </a>
            </div>
            <div ng-repeat="m in model.messages | orderBy: dateCreated:true"
               role="button"
                 ng-click="model.viewMessage(m)"
               class="list-group-item list-group-item-action"
            ng-class="m.read?'':'gray'">
               <a class="col-4">
                   <strong class="black-text">{{m.track.title}}</strong>
               </a>
                <a class="mx-auto">
                    <strong class="black-text">{{m.user.firstName}} {{m.user.lastName}}</strong>
                </a>
                <a class="ml-auto float-right">
                    <small class="black-text">{{m.dateCreated | date:'MMM dd, yyyy h:mm a'}}</small>
                </a>
            </div>
        </div>

        <!--<table class="table table-hover">
            <thead>
            <tr>
                <th>Track</th>
                <th>Shared By</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="m in model.messages"
                role="button">
                <td>{{m.track.title}}</td>
                <td>{{m.user.firstName}} {{m.user.lastName}}</td>
            </tr>
            </tbody>
        </table>-->

        </div>


</div>