<h1 class="mx-auto">Admin</h1>

<ul class="list-group col-lg-6 mx-auto">
    <li class="list-group-item active">
        Users
    </li>
    <li ng-repeat="user in model.users" class="list-group-item">
        {{user.username}}

        <input ng-model="user.role" class="mx-auto"/>
        <span ng-click="model.updateUser(user)"
              class="fa fa-check mr-auto vsk-ngclick-a">
        </span>

        <span ng-click="model.deleteUser(user._id)"
              class="fa fa-remove float-right vsk-ngclick-a">
        </span>
    </li>
</ul>


<!--{{model.users}}-->