<div class="container-fluid col-lg-5 col-md-7">
    <h1 class="text-center">Login</h1>

    <div ng-show="model.error" class="alert alert-danger" role="alert">
        {{model.error}}
    </div>

    <label class="sr-only" for="username">Username*</label>
    <div class="input-group mb-2 mr-sm-2 mb-sm-2">
        <div class="input-group-addon"><span class="fa fa-user"></span> </div>
        <input ng-model="user.username"
               id="username"
               class="form-control"
               placeholder="username"/>
    </div>

    <label class="sr-only" for="password">Password*</label>
    <div class="input-group mb-2 mr-sm-2 mb-sm-2">
        <div class="input-group-addon"><span class="fa fa-key"></span> </div>
        <input ng-model="user.password"
               id="password"
               class="form-control"
               type="password"
               placeholder="Password"/>
    </div>

    <!--<div class="row col-centered">-->
    <a ng-click="model.login(user)"
       class="btn btn-primary btn-block col-4 mx-auto vsk-ngclick-a">
        Login
    </a>
    <p class="mx-auto col-8 btn-block mx-auto">Sign in with
    <a href="/auth/google" class="btn btn-danger ">
        <span class="fa fa-google-plus"></span>
        Google
    </a></p>
    <p class="btn-block col-8 mx-auto">Don't have an account yet?
    <a href="#register" class="btn">Register</a>
    </p>
    <!--</div>-->
</div>