<div class="container-fluid">
    <h1>Login</h1>

    <div ng-show="model.error" class="alert alert-danger" role="alert">
        {{model.error}}
    </div>

    <label for="username">Username</label>
    <input ng-model="user.username"
           id="username"
           class="form-control"
           placeholder="john123"/>

    <label for="password">Password</label>
    <input ng-model="user.password"
           id="password"
           class="form-control"
           type="password"
           placeholder="req4321"/>

    <div class="row col-centered">
    <a ng-click="model.login(user)"
       class="btn btn-primary vsk-ngclick-a mr-auto">
        Login
    </a>
    <a href="/auth/google" class="btn btn-danger mx-auto">
        <span class="fa fa-google-plus"></span>
        Google
    </a>
    <a href="#register" class="btn btn-success ml-auto">Register</a>
    </div>
</div>