<div class="container-fluid col-lg-5 col-md-7">
    <h1 class="text-center">Register</h1>

    <div ng-show="model.success" class="alert alert-success" role="alert">
        {{model.message}}
    </div>

    <div ng-show="model.error" class="alert alert-danger" role="alert">
        {{model.error}}
    </div>

    <label class="sr-only" for="username">Username*</label>
    <div class="input-group mb-2 mr-sm-2 mb-sm-2">
        <div class="input-group-addon"><span class="fa fa-user"></span> </div>
        <input ng-model="user.username"
               id="username"
               class="form-control"
               placeholder="username"/>
    </div>

    <label class="sr-only" for="password">Password*</label>
    <div class="input-group mb-2 mr-sm-2 mb-sm-2">
        <div class="input-group-addon"><span class="fa fa-key"></span> </div>
        <input ng-model="user.password"
               id="password"
               class="form-control"
               type="password"
               placeholder="Password"/>
    </div>

    <label class="sr-only" for="password2">Verify Password*</label>
    <div class="input-group mb-2 mr-sm-2 mb-sm-2">
        <div class="input-group-addon"><span class="fa fa-key"></span> </div>
        <input ng-model="user.password2"
               id="password2"
               class="form-control"
               type="password"
               placeholder="Reenter Password"/>
    </div>

    <label class="sr-only" for="fname">First Name</label>
    <div class="input-group mb-2 mr-sm-2 mb-sm-2">
        <div class="input-group-addon"><span class="fa fa-user"></span> </div>
        <input type="text"
               ng-model="user.firstName"
               class="form-control"
               id="fname"
               placeholder="First Name">
    </div>

    <label class="sr-only" for="lname">Last Name</label>
    <div class="input-group mb-2 mr-sm-2 mb-sm-2">
        <div class="input-group-addon"><span class="fa fa-user"></span> </div>
        <input type="text"
               ng-model="user.lastName"
               class="form-control"
               id="lname"
               placeholder="Last Name">
    </div>

    <label class="sr-only" for="email">Email</label>
    <div class="input-group mb-2 mr-sm-2 mb-sm-2">
        <div class="input-group-addon">@</div>
        <input type="email"
               ng-model="user.email"
               class="form-control"
               id="email"
               placeholder="john@wick.com">
    </div>

    <label class="mr-sm-2" for="userRole">Register as</label>
    <select class="custom-select mb-2 mr-sm-2 mb-sm-2" id="userRole" ng-model="user.role">
        <option selected value="USER">User</option>
        <option value="ARTIST">Artist</option>
        <option value="ADMIN">Admin</option>
    </select>

    <a ng-click="model.register(user)" class="btn btn-primary btn-block vsk-ngclick-a col-5 mx-auto">Register</a>
    <a href="#/login" class="btn btn-danger btn-block col-5 mx-auto">Cancel</a>
</div>